* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url("Back.jpg");

}
.mcontainer {
    background-color: gray;
    height: 100vh;
    justify-content: center;
    align-items: center ;
    display: flex;
    background-image: url("Back.jpg");
    background-size: cover;
   
}
.ccontainer {
    transform: scale(1.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    background-color:darkgrey;
    height: auto;
    border-radius: 10px;
    padding:20px 0px;
}

.head {
    width: 90%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}


.taskin,     .td {
    background-color: aliceblue;
    width: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    margin-top: 2rem;

}
.addbtn{
    width: 5rem;
    border-radius: 2rem;
    border: none;
    
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}
.inp{
    width: 70%;
    gap: .5rem;
    display: flex;
    flex-direction: column;
}
.dt{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input{
    border: solid black  0.75px;
    border-radius: 2rem;
    padding: 5px;
}
.tinput {
    font-size: 1rem;
    outline: none;
    text-decoration: none;
    width: auto;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    padding: 0px 10px;
    background-color: transparent;
}

.addicon {
    transform: scale(1.5);
}

.taskcard{
    border-radius: .5rem;
    margin-top: 10px;
    width: 100%;
    height: 4rem;
    display: flex;
    padding: 0px 4px;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(255, 255, 255);
}
.data{
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    gap: 2rem;
    margin-right:10px;
   
    
   
}
.taskn{
    height: 20px;
    width: 50%;
    overflow:hidden;
    height:2rem;
    text-align: left;
    font-size: 20px;
}


.taskd,.tasktm{
   
    padding: 8px 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 2rem;
    /* background-color: rgb(8, 197, 255); */
    width: 140px;
   
    color: black;
}
.tasktm{
    font-family: Arial, Helvetica, sans-serif;


}

.done{
    padding: 8px 10px;
    font-weight: bold;
    border-radius: .5rem;
    border: solid white .5px;
    background-color:blueviolet;
    color: white;
}
.allitem{
    overflow: scroll;
    background-color: aqua;
    width: 400px;
}

.addt{
    background-color: red;
    
    border-radius: 0rem 2rem 2rem 0rem;
    padding: .5rem 20px;
    
    text-align: center;
}